
/* ------- Estilizando Formulários ------- */

/* body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;	
}
fieldset {
	margin: 1em 0;
	padding: 1em;
	border: 1px solid #ccc;
	background: #f8f8f8;
}
legend{
	font-weight: bold;
}
label {
	display: block;
	cursor: pointer;
}
input [type="text"] {
	width: 100%;
}
textarea{
	width: 100%;
	height: 10em;
} */


/* ------- Formulário de Entrada ------- */

body { 
	font-family: 'Trebuchet MS', Helvetica, sans-serif;	
	background: #643d87 url(../imagens/fundo.jpg) no-repeat top center;
}

#container {
	width: 400px;
	height: 300px;
	background-color: rgba(255, 255, 255, 0.3);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin: 0 auto;
	margin-top: 120px;
	text-align: center;
}
#container img {
	width: 120px;
	height: 120px;
	margin-top: -60px;
	margin-bottom: 30px;

}

















